<div id="tudo">
  <table class="tabela">

    <tr>
      <th>Nome:</th>
      <td>Aiman de Carvalho Gonçalves</td>
    </tr>

    <tr>
      <th>Curso:</th>
      <td>Desenvolvimento de Sistemas</td>
    </tr>

    <tr>
      <th>Objetivo Profissional:</th>
      <td>Trabalhar na área</td>
    </tr>

    <tr>
      <th>Hobbies:</th>
      <td>Futebol</td>
    </tr>

    <tr>
      <th>Contato linkedin:</th>
      <td>aiman.cgoncalves@gmail.com</td>
    </tr>

    <tr>
      <th>Github:</th>
      <td><a href="https://github.com/Aiman-CarvalhoGa">Aiman-CarvalhoG</a></td>
    </tr>

  </table>
</div>



<router-outlet></router-outlet>
